html, body{
    margin: 0;
    padding: 0;
    background-color: #b3b3b3;
}

html{
    scroll-behavior: smooth;
}

.navLink{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

.navLink:hover{
    color: #AA0000;
    transition: 0.5s;
    margin-top: -16px;
}

#navbarUL{
    width: auto;
    float: right;
    margin-top: 8px;
}
#navspan{
    color: #ffffff;
    text-shadow: 2px 2px #858585;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

header h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: #AA0000;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #282828;
}

.main-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-container{
    text-align: center;
    background-color: #282828;
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
}

.home-1{
    text-align: center;
    width: 100%;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
}

#text2, #text3{
    text-shadow: 2px 2px #fff;
}

#text1{
    text-shadow: 1px 1px #fff;
    font-size: 25px;
    font-weight: 600;
}

#text2{
    background: #282828;
    position: relative;
    font-size: 60px;
    font-weight: 700;
    animation: text 3s 1;
}

#text3{
    font-size: 50px;
    font-weight: 700;
}

@keyframes text{
    0%{
        color: #ffffff;
        text-shadow: 2px 2px #282828;
        margin-left: -160px;
        margin-right: -120px;
    }
    50%{
        margin-right: -120px;
    }
}

.home-2{
    top: 5%;
}

#home-img{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 25%;
    height: auto;
    border: 2px solid #AA0000;
    border-radius: 50%;
}

.about-container{
    padding-top: 70px;
    height: 960px;
    color: #282828;
    background-color: #b3b3b3;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-div{
    padding: 10px 10px;
    flex: 2;
}

.img-div{
    flex: 1;
}

#img1{
    width: 100%;
    height: auto;
    padding: 10px;
}

#img2{
    width: 100%;
    height: auto;
    padding: 10px;
}

.projects-container{
    color: #fff;
    height: 960px;
    background-color: #282828;
    display: flex;
    gap: 15px;
    flex-flow: row wrap;
}

#projects{
    color: #fff;
    background-color: #282828;
}

.project-image-div{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #AA0000;
    flex: 2;
}

.project-img{
    padding: 10px 0 10px 0;
    width: 75%;
    flex: 1;
}

.projects-h1{
    padding-top: 70px;
    text-align: center;
}

.contact-container{
    color: #282828;
    padding-top: 70px;
    height: 960px;
    background-color: #b3b3b3;
}
