* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#header {
  font-size: 2vmin;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: #1D1D1D;
  align-items: center;
  text-shadow: 0.05vmin 0.05vmin #a01c25;
}
#header img {
  transition: 0.3s ease-in-out;
  height: 8vmin;
}
#header img:hover {
  height: 10vmin;
}
#header li {
  list-style: none;
}
#header li a {
  padding: 2vmin;
  text-decoration: none;
  color: #f8f8f8;
  transition: ease-in-out 0.3s;
}
#header li a:hover {
  font-size: 3vmin;
  color: #a01c25;
}
#header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#header nav ul li a {
  text-decoration: none;
  color: #f8f8f8;
}

main {
  height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  display: flex;
  height: 90vh;
  justify-content: center;
}

section:nth-child(odd) {
  background-image: linear-gradient(#1D1D1D, #1D1D1D, #303030, #a01c25);
}

section:nth-child(even) {
  background-image: linear-gradient(#a01c25, #303030, #1D1D1D, #1D1D1D);
}

#Keyboards, #Mouse, #Headsets {
  display: flex;
  padding: 10% 10%;
  gap: 10%;
}

#keyboard-image, #headsets-img {
  flex: 1;
}
#keyboard-image img, #headsets-img img {
  transition: 0.3s ease-in-out;
  width: 50vmin;
  height: 50vmin;
}
#keyboard-image img:hover, #headsets-img img:hover {
  width: 65vmin;
  height: 65vmin;
}

#keyboard-specs, #mouse-specs, #headsets-specs {
  text-shadow: 0.05vmin 0.05vmin #a01c25;
  color: #f8f8f8;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
#keyboard-specs h1, #mouse-specs h1, #headsets-specs h1 {
  font-size: 4vmin;
}
#keyboard-specs ul, #mouse-specs ul, #headsets-specs ul {
  font-size: 2vmin;
}

.buttons {
  display: flex;
  gap: 5%;
}
.buttons button {
  color: #f8f8f8;
  font-size: 3vmin;
}
.buttons .order-now {
  padding: 2%;
  background: none;
  border: 0.25vmin solid #a01c25;
  box-shadow: 0.25vmin 0.25vmin #1D1D1D;
}
.buttons .order-now:hover {
  cursor: pointer;
  transition: ease-out 0.3s;
  color: #a01c25;
}
.buttons .order-now:active {
  transition: ease-out 0.2s;
  background: #1D1D1D;
}
.buttons .more {
  padding: 2%;
  background: none;
  border: 0.25vmin solid rgba(255, 0, 0, 0);
}
.buttons .more:hover {
  cursor: pointer;
  transition: ease-out 0.3s;
  border: 0.25vmin solid #a01c25;
  box-shadow: 0.25vmin 0.25vmin #1D1D1D;
}
.buttons .more:active {
  transition: ease-out 0.2s;
  background: #1D1D1D;
}

#mouse-image img {  
  transition: 0.3s ease-in-out;
  width: 45vmin;
  height: 31vmin;
}

#mouse-image img:hover {
  transition: 0.3s ease-in-out;
  width: 50vmin;
  height: 36vmin;
}

#Reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Reviews .slider {
  top: 2%;
  width: 75vmin;
  height: 50vmin;
}

#Reviews ul {
  width: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  gap: 5%;
}

#Reviews ul li {
  list-style: none;
  cursor: pointer;
}

#Reviews ul li video {
  width: 25vmin;
  transition: all 0.3s;
}

#Reviews ul li video:hover {
  transform: scale(1.1);
}

#Contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  margin-top: 2vmin;
  color: #f8f8f8;
  width: 75vmin;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}

.labels {
  font-size: 2vmin;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entries {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.entries input {
  width: 100%;
  height: 3vmin;
}

.entries:focus {
  outline: 0.1vmin solid #a01c25;
  box-shadow: 0.15vmin 0.15vmin #a01c25;
}

#submit-div {
  display: flex;
  align-items: center;
  flex-direction: column
}

#submit {
  font-weight: bold;
  color: #f8f8f8;
  height: 3vmin;
  background-color: #a01c25;
  width: 50%;
}

#submit:hover {
  transition: 0.3s ease-in-out;
  color: #1D1D1D;
  font-weight: bolder;
}

#textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 960px) {
  section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #keyboard-specs, #mouse-specs, #headsets-specs {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
}

footer{
  z-index: 999;
}

footer p{
    color: white;
    font-size: 2vmin;
}
footer a{
    color: white;
    text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  position: fixed;
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1D1D1D;  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a01c25; 
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8f8f8;
}

#thankyou{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  height: 90vh;
  gap: 10px;
}

#thankyou h1{
  font-size: 7vmin;
}

#thankyou span{  
  font-size: 7vmin;
  color: #a01c25;
}

#thankyou h3{
  font-size: 3vmin;
}

#ty-button{
  font-weight: bold;
  color: #f8f8f8;
  height: 3vmin;
  background-color: #a01c25;
  width: 10vmin;
}

#ty-button:hover {
  transition: 0.3s ease-in-out;
  color: #1D1D1D;
  font-weight: bolder;
}